<header class="site-navbar bg-white" role="banner" >
  <div class="container">
    <div class="row align-items-center">
      <!--        <div class="col-12 search-form-wrap js-search-form">-->
      <!--          <form method="get" action="#">-->
      <!--            <input type="text" id="s" class="form-control" placeholder="Search...">-->
      <!--            <button class="search-btn" type="submit"><span class="icon-search"></span></button>-->
      <!--          </form>-->
      <!--        </div>-->
      <div class="col-4 site-logo">
        <a href="index.html" class="text-black h2 mb-0"><img src="images/kvalita_logo.png" width="30%" class="img-fluid" alt="Kvalita Logo"></a>
      </div>
      <div class="col-8 text-right">
        <nav class="site-navigation" role="navigation">
          <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
<!--            <li><a class="ex7" href="overons.html">Over Ons</a></li>-->
<!--            <li><a class="ex7" href="diensten.html">Diensten</a></li>-->
            <li><a class="ex7" href="index.html">Home</a></li>
            <li><a class="ex7" href="datadev.html">Data & Development</a></li>
            <li><a class="ex7" href="compliance.html">Compliance</a></li>
<!--            <li><a class="ex7" href="cases.html">Cases</a></li>-->
<!--            <li><a class="ex7" href="vacatures.html">Vacatures</a></li>-->
            <li><a class="ex7" href="contact.html">Contact</a></li>

            <!--              <li><a href="werkenbij.html">Werken Bij Kvalita</a></li>-->
            <!--              <li><a href="overons.html">Over Ons</a></li>-->
            <!--              <li><a href="https://www.kvalita.org/" target="_blank">Portaal</a></li>-->
            <!--              <li><a href="mailto:info@kvalita.nl">Contact</a></li>-->
          </ul>
        </nav>
        <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span class="icon-menu h3"></span></a>
      </div>
    </div>
  </div>
</div>
</header>